<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
    <link rel="stylesheet" href="static/css/walker.min.css">
<link rel="stylesheet" href="static/css/walker_boot.min.css">
 <script src="static/js/mdb.min.js" charset="utf-8"></script>
  <script src="static/js/jquery-3.3.1.min.js" charset="utf-8"></script>
  <script src="static/js/bootstrap.min.js" charset="utf-8"></script>
 
<!--<link rel="stylesheet" href="css/materialize.min.css">-->
  <link rel="stylesheet" href="static/css/style_principal.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body >


<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
  <div class="container">
    <a class="navbar-brand" href="#">
      <strong>IPEAPP</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#liste" aria-controls="navbarSupportedContent-7"  aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="liste">

    <!-- Links -->
    <ul class="navbar-nav mr-auto my-1 my-lg-0 ml-auto">
        <li class="nav-item ">
            <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item active ">
            <a class="nav-link" href="inscrire_nouveau_eleve.html">Inscription</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="reinscription.html">Réinscription</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="#">Listes des élèves inscrits</a>
        </li>



    </ul>
  </div>

  </div>
</nav >
 <!--class="mask rgba-gradient d-flex justify-content-center align-items-center "

<div class="view" style="background-image: url('file:///C:/Users/Fran%C3%A7ois%20Walker/Desktop/Enregistrer/images/gallary/18.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center; ">-->

<div class="mask rgba-gradient d-flex justify-content-center align-items-center ">

    <div class="container" style=""  >




      <div class="  row mt-10" style="margin-top:10%; margin-bottom:30%;">

        <div class="col-md-12 col-xl-12 mb-4 " >

          <div class="card wow fadeInRight" data-wow-delay="0.3s">
            <div class="card-body">

              <div class="text-center">
                <h3 class="white-text">
                  <i class="fa fa-user white-text"></i> Inscrire nouveau Eleve

                </h3>

                <hr class="hr-light">
              </div>
              <!--Body-->

            <div class="section scrollspy">



              <form  action="../controllers/add_newEleve.php" method="post">


                      <div class="row">
                        <div class="col-md-4 ">



                            <div class="md-form">
                              <i class="fa fa-user prefix white-text active"></i>
                              <input type="text" id="nom" name="nom" class="white-text form-control">
                              <label for="nom" > Nom</label>
                            </div>
                            <div class="md-form">
                              <i class="fa fa-user prefix white-text active"></i>
                              <input type="text" id="postnom" name="postnom" class="white-text form-control">
                              <label for="postnom" > Postnom</label>
                            </div>
                            <div class="md-form">
                              <i class="fa fa-user prefix white-text active"></i>
                              <input type="text" id="prenom" name="prenom" class="white-text form-control">
                              <label for="prenom" > Prénom</label>
                            </div>
                            <div class="md-form">
                              <i class="fa fa-user prefix white-text active"></i>
                              <input type="date" id="date_naissance" name="date_naissance" class=" white-text form-control  colorful-select dropdown-primary ">
                              <label for="date_naissancenom" class="active" > Date de naissance</label>
                            </div>

                            <div class="md-form">
                              <i class="fa fa-user prefix white-text active"></i>
                              <input type="text" id="lieu_naissance" name="lieu_naissance" class="white-text form-control">
                              <label for="lieu_naissance" > Lieu de naissance</label>
                            </div>

                  </div>
                  <div class="col-md-4 ">


                    <div class="md-form">
                      <i class="fa fa-user prefix white-text active"></i>
                      <input type="text" id="nationalite" name="nationalite" class="white-text form-control">
                      <label for="nationalite" > Nationalité</label>
                    </div>
                    <div class="md-form offset-2">

                      <label for="lieu_naissance" class="active" style="margin-left:-15px;">Genre</label>
                    </div>
                    <div class="row" style="color:white;">
                    <div class="form-check offset-3">
                          <input class=" genre blue form-check-input" name="genre" type="radio" id="homme" checked="checked">
                          <label class="form-check-label  white-text" for="homme">H</label>
                    </div>

                    <div class="form-check">
                          <input class=" genre blue form-check-input" name="genre" type="radio" id="femme">
                          <label class="form-check-label white-text" for="femme">F</label>
                    </div>
                  </div>


                    <div class="md-form">
                      <i class="fa fa-user prefix white-text active"></i>
                      <input type="text" id="adresse" name="adresse" class="white-text form-control">
                      <label for="lieu_naissance" > Adresse</label>
                    </div>

                      <div class="md-form">
                        <div class="input-field col white-text s11" style="margin:8%;">
                          <select id="niveau" name="niveau" class="colorful-select dropdown-primary" >
                            <option value="" disabled selected>Sélectionner le niveau</option>
                            <option value="1"class="blue-text text-lighten-3" >1</option>
                            <option value="2">3</option>
                            <option value="3">2</option>
                            </select>
                        <label for="" style="margin-left:12px;"> Niveau</label>
                        </div>
                      </div>

                      <div class="md-form">
                        <div class="input-field col white-text s11" style="margin:8%;">
                          <select id="classe"  name="classe" class="colorful-select dropdown-primary " >
                            <option value="" disabled selected>Sélectionner la classe</option>
                            <option value="1"class="blue-text text-lighten-3" >3B</option>
                            <option value="2">3A</option>
                            <option value="3">2B</option>
                        </select>

                        </div>
                      </div>


                  </div>

                  <div class="col-md-4 ">
                        <div class="md-form">
                          <i class="fa fa-user prefix white-text active"></i>
                          <input type="text" name="responsable" id="responsable" class="white-text form-control">
                          <label for="responsable" >Nom complet du responsable</label>
                        </div>
                        <div class="md-form">
                          <i class="fa fa-envelope prefix white-text active"></i>
                          <input type="text" id="tele_responsable" name="tele_responsable" class="white-text form-control">
                          <label for="tele_responsable" >Téléphone</label>
                        </div>
                        <div class="md-form">
                          <i class="fa fa-lock prefix white-text active"></i>
                          <input type="text" id="adresse_responsable" name="adresse_responsable" class="white-text form-control">
                          <label for="adresse_responsable">Adresse</label>
                        </div>
                        <div class="text-center mt-4 offset-1">
                          <button type="submit" class=" btn btn-indigo">Inscrire</button><span id="reponse"></span>


                        </div>





                    </div>
                    <hr >

                  </div>

            </form>
          </div>

                    </div>
                  </div>

                </div>
      </div>







<footer class="page-footer fixed-bottom font-small indigo pt-0">
<div class="footer-copyright py-3 text-center">
       © 2018 Copyright:
       <a href="#"> IPEAPP </a>
   </div>
   <!--/Copyright-->

</footer>
</div>

</div>


</body>

<script>

$(document).ready(function(){

  //alert("suis-là");

  /*$('.formulaire').submit(function(){

       genre;
       nom = $('#nom').val();
       postnom = $('#postnom').val();
       prenom = $('#prenom').val();
       date_naissance= $('#date_naissance').val();
       lieu = $('#lieu_naissance').val();
       adresse = $('#adresse').val();
       responsable = $('#responsable').val();
       tele_responsable = $('#tele_responsable').val();
       adresse_responsable = $('#adresse_responsable').val();

       homme = $('#homme').val();
       femme = $('#femme').val();
       nationalite = $('#nationalite').val();
       list = document.getElementById('niveau');
       niveau =list.options[list.selectedIndex].innerHTML;

      var liste = document.getElementById('classe');
      var classe =liste.options[list.selectedIndex].innerHTML;

      if(homme == '')
      {
        genre = 'F';
      }
      else{
        genre ='M';
      }

      $.post('../controllers/add_newEleve.php', {nom:nom},function(data){


        alert(data);
         //  $('#reponse').fadeIn();
         //  $('#reponse').html(data);

           
            
           , postnom:postnom, prenom:prenom,date_naissance:date_naissance, lieu:lieu, adresse:adresse,
            genre:genre, nationalite:nationalite, niveau:niveau, classe:classe, responsable:responsable, adresse_responsable:adresse_responsable,
            tele_responsable:tele_responsable
          

      });

     return false;

      //alert(nom+" "+genre+" "+date_naissance+" "+niveau+" "+classe+" ");

  });*/

});
</script>


      <script src="script_nouvel_eleve.js"></script>
      <script type="text/javascript" src="static/js/plugins/jquery-1.11.2.min.js"></script>
      <script type="text/javascript" src="static/js/materialize.min.js"></script>
      <script type="text/javascript" src="static/js/plugins.min.js"></script>

</html>
